@media (max-width: 1250px ) {
    .container{
        max-width: 1024px;
        margin: 0 auto;
    }
}
@media (max-width: 1024px) {
    .container{
        max-width: 767px;
    }
}
@media (max-width: 767px ) {
    .container{
        max-width: 567px;
    }
    .footer{
        padding: 15px 0;
        &__wrapper{
            flex-direction: column-reverse;
            p{
                color: #ccc;
                padding: 20px 0 0 0;
            }
            ul{
                margin: 0;
                padding: 0;
                li{
                    &:not(:last-child){
                        padding-right: 10px;
                    }
                    a{
                        text-decoration: none;
                    }
                }
            }
        }
    }

}
@media (max-width: 576px) {
    .container{
        max-width: 100%;
        padding: 0 10px;
    }
}
